<header class="header">
    <nav class="nav">
      <a href="/" class="{{ if eq .RelPermalink "/" }}active{{ end }}">Home</a>
      <a href="/research/" class="{{ if eq .RelPermalink "/research/" }}active{{ end }}">Research</a>
      <a href="/achievements/" class="{{ if eq .RelPermalink "/achievements/" }}active{{ end }}">Achievements</a>
      <a href="https://drive.google.com/file/d/1nCGftIM_EOHPx7T_ZOOARE8dnlqmQG7e/view?usp=sharing" class="{{ if eq .RelPermalink "/resume/" }}active{{ end }}">Resume</a>
    </nav>
</header>